.alles {
    display: flex;
    justify-content: center;
    font-size: 100px;
    background-color: blueviolet;

}

.boven {
    display: flex;
    justify-content: flex-start;
    color: red;
}

.container_1 {
    justify-content: center;
    color: red;
}
